

.products-container{
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    margin-left: 1.7rem;
    /* margin-left: 210px; */
}

.product-sidebar{
    width: 220px;
}

.no__result {
    margin:10rem;
    margin-left: 15rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no__result-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.no__result-desc {
    font-size: 1.1rem;
    color: #575656;
    text-align: center;
}
/* Media Queries for Responsiveness */

/* Extra small devices (phones) */
@media only screen and (min-width: 200px) and (max-width: 409px) {

    .products-container{
        margin-top: 5rem;
        display: flex;
        flex-wrap: wrap;
        margin-left: 1.2rem;
        margin-top: 8.3rem;
        /* margin-left: 210px; */
    }
    
    .product-sidebar{
        width: 220px;
    }
}