
:root {
    --primary-color: #f8cb46;
    --background-color: #fce98c;
    --feature-card: #fdf9d2;
    --feature-card-pink: #FDEFEA;
    font-family: 'Roboto Slab', serif;
    --button: #1CC51C;
    --button-fade: #13da13;
    --box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}


.card-container-horiz{
    box-shadow: var(--box-shadow);
    height: 13rem;
    width: 29.5rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.card-button-horiz {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 1.5rem;
    align-items: center;
}


.card-price-horiz{
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem 1rem 1.3rem;

}

.count-item{
    font-size: 20px;
    font-weight: 600;
    margin: 0 1rem;
}

.count-btn{
    cursor: pointer;
    font-size: 25px;
    padding: 0 !important;
    width: 30px !important;
    text-align: center;
    /* height: 30px !important; */
}

.fix-count{
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 1rem;
}

.horiz-img{
    /* margin-top: 5px; */
    width: 200px;
    height: 140px;
}

.label-padding{
    padding:4px 6px; 
}

.move-cart{
    display: flex;
    justify-content: center;
}

.remove-wishlist{
    background-color: #1287e7 !important;
}

.remove-wishlist:hover{
    background-color: #0b7dda !important;
}

.card-action{
    display: flex;
}

.cancel-btn{
    margin-left: auto;
}



/* Media Queries for Responsiveness */

/* Extra small devices (phones) */
@media only screen and (min-width: 200px) and (max-width: 409px) {

    
.card-container-horiz{
    height: 13rem;
    width: 16rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
}

.card-button-horiz {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 1rem;
    align-items: center;
}


.card-price-horiz{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    font-size: 12px !important;
   }

.count-item{
    font-size: 10px;
    font-weight: 600;
    margin: 0 1rem;
}

.count-btn{
    cursor: pointer;
    font-size: 10px;
    padding: 0 !important;
    width: 20px !important;
    text-align: center;
    /* height: 30px !important; */
}

.fix-count{
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 1rem;
}

.horiz-img{
    /* margin-top: 5px; */
    width: 100px;
    height: 75px;
    margin-left: 0.5rem !important;
    margin-bottom: 1rem;
}

.label-padding{
    padding:4px 6px; 
}

.move-cart{
    display: flex;
    justify-content: center;
} 

.card-action{
    display: flex;
}

.cancel-btn{
    margin-left: auto;
    font-size: 12px;
}

.card-info-horiz{
    font-size: 10px !important;
    margin-left: 0.5rem !important;
}

.card-price-horiz{
    font-size: 10px  !important;
}

   

}






