
.signin-button{
    color: black !important;
  }

.signin-button:hover{
    background-color: var(--primary-two) !important;
}

.login-page{
    /* background-color: var(--feature-card-pink); */
    margin-top: 4.5rem; 
    padding: 1rem ;
}


.test-credentials{
    display: flex;
    justify-content: space-between;
}

.remember-me{
  cursor: pointer;
}

.remember-checkbox{
  /* display: flex;
  flex-direction: row; */
  margin-right: 5px;
  padding: 0;
  width: fit-content !important;
  cursor: pointer;
}

.forgot-password{
  cursor: pointer;
  text-decoration: underline;
}
.forgot-password:hover{
  color: var(--button);
}

.signin-guest{
  margin-top: 1rem;
  background-color: #8d8d8d !important;
}

.signin-guest:hover{
  background-color:#7a7a80 !important;
}

.new-user{
  text-align: center;
  margin-top: 0.6rem;
  color:#444654;
  text-decoration: underline;
  cursor: pointer;
}

.new-user:hover{
  color:#444654;
}

.goto-signup:hover{
  color:inherit;
}

.input-box{
  margin-top: 4px;
}

/* signup css */


.sign-button{
    color: black !important;
  }

.sign-button:hover{
    background-color: var(--primary-two) !important;
}

.signup-form{
  margin-top: 8rem;
}