:root {
    --primary-color: #f8cb46;
    --primary-two: #f8d364;
    font-family: 'Roboto Slab', serif;
  }
 
  .sign-button{
    color: black !important;
  }

.sign-button:hover{
    background-color: var(--primary-two) !important;
}

.signup-form{
  margin-top: 8rem;
}