*{
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #f8cb46;
    --background-color: #fce98c;
    font-family: 'Roboto Slab', serif;
    --button: #1CC51C;
    --button-fade: #13da13;
  }
 
.banner{
    /* margin-top: 6rem; */
    background-color:  var(--background-color) ;
    border-radius: 20px;
    
    margin: 6rem  1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
}

.banner-container{
    margin: 5rem 2rem 0 7rem;
}

.banner-container .techInfo{
    
    font-size: 3.2rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-weight: bold;
}

.banner-container .discount {
    margin: 1rem 2rem 0 0;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img{
    margin-right: 6rem;
}

.banner-container .shopNow{
    margin-top: 1.3rem;
    background-color: var(--button);
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    border:  2px solid transparent;
} 

.banner-container .shopNow:hover{
    /* margin-top: 1.2rem; */
    background-color: var(--button-fade);
    /* outline: white; */
    border: 2px solid white;
}

.featCardCenter{
    justify-content: center;
}

.features{
    font-size: 2.5rem;
    font-weight: 600;
    justify-content: center;
    margin: 2rem 0;
    text-decoration: underline;
}

.badgeCardCenter{
    justify-content: center;
}


