.small-badge {
  width: 10rem;
  height: 4rem;
  background-color: var(--badge-color);
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem;
  margin: 2rem;
  color: black;
  border-radius: 10px;
}

.small-badge i {
  font-size: 2rem;
  margin-right: 12px;
}

/* Media Queries for Responsiveness */

/* Extra small devices (phones) */
@media only screen and (min-width: 200px) and (max-width: 409px) {

    .small-badge {
        width: 6rem;
        height: 3rem;
        background-color: var(--badge-color);
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        font-size: 0.8rem;
        font-weight: 600;
        padding: 1rem;
        margin: 1rem;
        color: black;
        border-radius: 10px;
      }
      
      .small-badge i {
        font-size: 1.7rem;
        margin-right: 12px;
      }


}

@media only screen and (min-width: 410px) and (max-width: 619px) {


  .small-badge {
    width: 8rem;
    height: 4rem;
    background-color: var(--badge-color);
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 1rem;
    margin: 1rem;
    color: black;
    border-radius: 10px;
  }
  
  .small-badge i {
    font-size: 1.7rem;
    margin-right: 14px;
  }

}

/* Small devices (tablets) */
@media only screen and (min-width: 620px) and (max-width: 990px) {
}

/* Medium devices (desktops, laptops) */
@media only screen and (min-width: 991px) and (max-width: 1279px) {
}
