

:root {
    --primary-color: #f8cb46;
    --background-color: #fce98c;
    --footer-color: #444654;
    --feature-card: #fdf9d2;
    font-family: 'Roboto Slab', serif;
    --button: #1CC51C;
    --button-fade: #13da13;
    --box-shadow-1: 5px 5px 15px #0000000d;
}

.footer-container{
    background-color: var(--background-color);
    width: 100%;
    height: 14rem;
    position: relative;
    bottom: 0;
    clear: both;
    /* margin-top: 2rem; */
}

.footer-content{
    display: flex;
    justify-content: space-around;
}

.footer-container  .foot-heading {
    font-size: px;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 0.6rem;
    color:  #5A5858;
}

.foot-des{
    cursor: pointer;
    padding: 5px;
}

.foot-des:hover{
    color: blue;
}

.copyright{
    margin: 0.7rem;
    text-align: center;
    font-weight: 600;
    color: var(--footer-color);
}

.owner{
    text-align: center;
    font-weight: 600;
    color: var(--footer-color);
}


.contact-link:hover{
    /* font-weight: 600; */
    color: blue;
    /* margin: 0; */
}