@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lato:wght@700&family=Montserrat&family=Roboto+Slab&family=Shadows+Into+Light&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #f8cb46;
  --primary-two: #ffd659;
  font-family: 'Roboto Slab', serif;
  --background-color: #fce98c;
  --footer-color: #444654;
  font-family: 'Roboto Slab', serif;
  --button: #1CC51C;
  --button-fade: #13da13;
  --badge-color: #fdf0ac;
  --box-shadow-1: 5px 5px 15px #0000000d;
  --feature-card: #fdf9d2;
  --feature-card-pink: #FDEFEA;
}

h2{
  color: inherit;
}

.mockman{
  margin-top: 5rem;
}


.flex{
  display: flex;
}

.pointer-cursor{
  cursor: pointer;
}

input:focus{
  outline: none;
}

.Toastify__toast{
  top: 3rem;
}